.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-height: 300px;
  overflow-y: auto;
}
.categoryList::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}
.categoryList::-webkit-scrollbar-thumb {
  background-color: #3498db; /* Color of the thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}
.categoryList.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #2980b9; /* Color change on hover */
}
.categoryItem {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: white;
  cursor: pointer;
}
.categoryItem:focus {
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  color: black;
  background-color: white !important;
}
.categoryItem.new {
  background-color: #fab09d ;
  color: black !important;
}
